* {
    --blue: #0d6efd;
    --gray: #6c757d;
    --green: #198754;
    --yellow: #ffc107;
    --red: #dc3545;
    --white: #f5f5f5;
    --black: #252525;
    --orange: #fd6031;
    --purple: #a615bc;
}

$blue: #0d6efd;
$gray: #6c757d;
$green: #198754;
$yellow: #ffc107;
$red: #dc3545;
$white: #f5f5f5;
$black: #252525;
$orange: #fd6031;
$purple: #a615bc;

//Blue
.text-blue {
    color: $blue !important;
}

.text-blue-bold {
    color: $blue !important;
    font-weight: bold !important;
}

.background-blue {
    background-color: $blue !important;
}

.background-border-blue {
    background-color: $blue !important;
    border-color: $blue !important;
}

.border-blue {
    border-color: $blue !important;
}

//Gray
.text-gray {
    color: $gray !important;
}

.text-gray-bold {
    color: $gray !important;
    font-weight: bold !important;
}

.background-gray {
    background-color: $gray !important;
}

.background-border-gray {
    background-color: $gray !important;
    border-color: $gray !important;
}

.border-gray {
    border-color: $gray !important;
}

//Green
.text-green {
    color: $green !important;
}

.text-green-bold {
    color: $green !important;
    font-weight: bold !important;
}

.background-green {
    background-color: $green !important;
}

.background-border-green {
    background-color: $green !important;
    border-color: $green !important;
}

.border-green {
    border-color: $green !important;
}

//Yellow
.text-yellow {
    color: $yellow !important;
}

.text-yellow-bold {
    color: $yellow !important;
    font-weight: bold !important;
}

.background-yellow {
    background-color: $yellow !important;
}

.background-border-yellow {
    background-color: $yellow !important;
    border-color: $yellow !important;
}

.border-yellow {
    border-color: $yellow !important;
}

//Red
.text-red {
    color: $red !important;
}

.text-red-bold {
    color: $red !important;
    font-weight: bold !important;
}

.background-red {
    background-color: $red !important;
}

.background-border-red {
    background-color: $red !important;
    border-color: $red !important;
}

.border-red {
    border-color: $red !important;
}

//White
.text-white {
    color: $white !important;
}

.text-white-bold {
    color: $white !important;
    font-weight: bold !important;
}

.background-white {
    background-color: $white !important;
}

.background-border-white {
    background-color: $white !important;
    border-color: $white !important;
}

.border-white {
    border-color: $white !important;
}

//Black
.text-black {
    color: $black !important;
}

.text-black-bold {
    color: $black !important;
    font-weight: bold !important;
}

.background-black {
    background-color: $black !important;
}

.background-border-black {
    background-color: $black !important;
    border-color: $black !important;
}

.border-black {
    border-color: $black !important;
}

//Orange
.text-orange {
    color: $orange !important;
}

.text-orange-bold {
    color: $orange !important;
    font-weight: bold !important;
}

.background-orange {
    background-color: $orange !important;
}

.background-border-orange {
    background-color: $orange !important;
    border-color: $orange !important;
}

.border-orange {
    border-color: $orange !important;
}